.container {
  z-index: 200;
  min-width: 300px;
  max-width: calc(100% - 2 * var(--sz-base));
  overflow: auto;
  margin: 0;

  padding: var(--sz-base);
  background-color: rgba(var(--clr-background-175-rgb), 0.6);
  color: rgb(var(--clr-background-175-contrast));
  backdrop-filter: blur(50px);
  border-radius: calc(1.5 * var(--sz-base));
  border: 1px solid var(--clr-background-150);

  &[open] {
    display: flex;
  }
  flex-direction: column;
  gap: calc(0.5 * var(--sz-base));

  form {
    display: flex;
    flex-direction: column;
    gap: calc(0.5 * var(--sz-base));

    label {
      display: flex;
      flex-direction: column;
      input {
        appearance: none;
        padding: calc(0.5 * var(--sz-base));
        border-radius: calc(0.5 * var(--sz-base));
        border: 1px solid var(--clr-background-150);
        background-color: rgba(var(--clr-background-150-rgb), 0.3);
        color: var(--clr-background-150-contrast);
        &:focus {
          outline: none;
          border-color: var(--clr-background-100);
        }
      }
    }

    button {
      margin-top: var(--sz-base);
    }
  }
}

div.loading {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--clr-background-175-rgb), 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--sz-base);
  padding: var(--sz-base);
  &::before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 2px solid var(--clr-background-175-contrast);
    border-radius: 50%;
    border-top-color: transparent;
    animation-name: spin;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
